/*style by HuLa
hula_
08/04/2012 09:48:27 
*/
/*search bar*/
#hula_searchBoxOne #hula_search{
   background: #fff;
    border-radius: 4px 0 0 4px;
    background: url("images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    height: 20px;
    width: 167px;
}

#hula_searchBoxOne {
    margin-top: -11px;
}

/*navi*/
.my_navi{
  margin-bottom: 5px;
  margin-top: -11px;
  color: #000;
  text-transform: uppercase;
  background: url(images/line.png) repeat-x left bottom #fff;
  padding: 10px 1px 12px 1px
}

.my_navi:hover
{

}

/* style Categories Module*/
.hula_CategoriesName{
    color: #000;
    margin: 0;
    padding: 9px 2px 8px 13px;
    border-top: 1px solid #E6E6E6;
    text-transform: uppercase;
}

.hula_CategoriesName:hover{
    background: url("images/dot-green.gif") repeat-y scroll left top #f0f0f0;

}

.hula_CategoriesContent{
    border-right: 1px solid #E6E6E6;
}

.hula_CategoriesNamebg{
    background: url("images/dot-grey.gif") repeat-y scroll left top transparent;
}

.hula_isCurentCategory{
    margin: 0;
    background: url("images/dot-red.gif") repeat-y scroll left top transparent;
    color: #a52a2a;
    font-weight: bold;
}

#hula_line_bottom{
  height: 4px;
  background: grey;
}

/*Catelog name*/
#hula_title, h2{
    padding: 7px 0 5px 35px;
    text-shadow: 1px 1px 0 #fff;
    background: url("http://static.mp3.zdn.vn/skins/mp3_version3_05/images/icon-24.png") repeat-x scroll left top #1C1C1C;
    background-position:left -711px;
    color: #333333;
    height: 18px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;

}

